<h2 mat-dialog-title style="margin-bottom: 0;">Put a valid etro.gg or xivgear.app link to import as your current gear set.</h2>
  
<div style="width: 90%;margin-left: 5%;border-bottom: 2px solid black;margin-bottom: 15px;margin-top: 5px;"></div>

<mat-form-field style="width:95%;height: 8ch;margin-left: 2.5%;">
  <mat-label>Link : </mat-label>
  <input matInput [(ngModel)]="bisLink" (ngModelChange)="onBisLinkChange()">
</mat-form-field>



<div *ngIf="!isEtro && !isXIVGear" style="height:50px">
<p mat-dialog-content style="color:rgba(255, 255, 255, 0.95);width: 97%;margin-left: 1.5%;background-color: rgba(255, 0, 0, 0.2);border: 1px solid rgba(255, 0, 0, 0.5);padding: 5px;border-radius: 10px;">Please enter a valid etro.gg or xivgear.app link to import as your current gear set.</p>
</div>
<div *ngIf="!(!isEtro && !isXIVGear)" style="width: 200px;background-color: rgba(0, 0, 0, 0.3);border-radius: 10px;border:2px solid black;margin-left: 1.5%;padding: 5px;">
<mat-slide-toggle  class="param-toggle" [(ngModel)]="useBis" style="margin-left: 1.5%;">Import for BiS<mat-icon matTooltip="{{UseBisToolTip}}" style="cursor: pointer;margin-left: 5px;">help_outline</mat-icon></mat-slide-toggle>
</div>
<div *ngIf="!useBis" style="height:50px">
<p  mat-dialog-content style="color:rgba(255, 255, 255, 0.95);width: 97%;margin-left: 1.5%;background-color: rgba(255, 0, 0, 0.2);border: 1px solid rgba(255, 0, 0, 0.5);padding: 5px;border-radius: 10px;margin-top: 5px;">Importing as your current gear set will not update lock or gear acquisition on the player.</p>
</div>

<ng-container *ngIf="isXIVGear">
<div style="margin-top: 15px;">

  

  <p mat-dialog-content *ngIf="xivGearUncertainty" style="color:rgba(255, 255, 255, 0.95);width: 97%;margin-left: 1.5%;background-color: rgba(255, 0, 0, 0.2);border: 1px solid rgba(255, 0, 0, 0.5);padding: 5px;border-radius: 10px;margin-bottom: 0px;margin-top: 5px;">The given xivgear url contains mutliple gearsets. Please choose one to import.</p>
  <p mat-dialog-content *ngIf="!xivGearUncertainty">Gearset name : {{xivGearUniqueName}}</p>
  <p mat-dialog-content style="padding-bottom: 0px;">Would you like to import the following xivgear.app gearset as your current gear set?</p>
  <div *ngIf="xivGearUncertainty" style="width: 97%;margin: 1%;height: 175px;background-color: rgba(0, 0, 0, 0.2);border-radius: 10px;border: 2px solid black;display: flex;flex-direction: column;align-items: center;overflow-y: auto;">
    <div *ngFor="let set of xivGearSelection" 
          style="width: 95%;height: 50px;background-color: rgba(0, 0, 0, 0.3);margin-top: 5px;margin-bottom: 5px;padding: 5px;border-radius: 10px;border: 1px solid black;"
          [style.backgroundColor]="set[0] === selectedxivGearSet[0] ? 'rgba(255, 255, 255, 0.3)' : 'rgba(0, 0, 0, 0.3)'"
          (click)="selectGearSet([set[0],set[1]])"
          (mouseenter)="mouseOver($event)" (mouseleave)="mouseLeave($event)">
      <h2 style="text-align: center;">{{set[0]}}</h2>
    </div>
  </div>
  <p mat-dialog-content *ngIf="xivGearUncertainty">Selected gearset : {{selectedxivGearSet[0]}}</p>
  <mat-dialog-actions style="display: flex; justify-content: space-between;background-color: rgba(0, 0, 0, 0.3);border-radius: 10px;border:2px solid black;margin-left: 1.5%;padding: 5px;margin-right: 1.5%;">
    <button mat-button mat-dialog-close style="background-color: rgba(0, 0, 0, 0.156);border-radius: 10px;border: 1px solid rgba(255, 255, 255, 0.7);">No</button>
    <button mat-button style="background-color: rgba(0, 0, 0, 0.156);border-radius: 10px;border-radius: 10px;border: 1px solid rgba(255, 255, 255, 0.7);" (click)="ImportXIVGear(data.playerId, data.newEtro)" >Yes</button>
    
  </mat-dialog-actions>
</div>
</ng-container>

<ng-container *ngIf="isEtro">
<div>
<p mat-dialog-content>Would you like to import the following etro.gg gearset as your current gear set?</p>
<div style="width: 98%;padding-left: 1%;height: 95%;margin-bottom: 20px;">
  
<iframe style="width: 100%;height:100%;border-radius: 10px;border: 1px solid black;" title="Etro Gearset" [src]="safeEtroUrl"></iframe>
</div>
<mat-dialog-actions style="display: flex; justify-content: space-between;background-color: rgba(0, 0, 0, 0.3);border-radius: 10px;border:2px solid black;margin-left: 1.5%;padding: 5px;width: 97%;margin-right: 1.5%;">
  <button mat-button mat-dialog-close style="background-color: rgba(0, 0, 0, 0.156);border-radius: 10px;border: 1px solid rgba(255, 255, 255, 0.7);">No</button>
  <button mat-button style="background-color: rgba(0, 0, 0, 0.156);border-radius: 10px;border-radius: 10px;border: 1px solid rgba(255, 255, 255, 0.7);" (click)="ImportEtro(data.playerId, data.newEtro)">Yes</button>
  
</mat-dialog-actions>
</div>
</ng-container>