<div>
  <!-- Container for static detail header -->
  <div>
    <div style="background: rgba(0, 0, 0, 0.2);border-radius: 10px;padding-top: 10px;padding-left: 10px;border: 5px solid rgba(0, 0, 0, 0.4);">
    <mat-form-field style="width:40ch;height: 10ch;margin-bottom: 0px;">
      <mat-label>Static name :</mat-label>
        <input matInput value="{{staticDetail.name}}" (change)="onChangeStaticName($event)" style="font-size: 30px;">
    </mat-form-field>
    <button mat-raised-button color="accent" style="height: 3ch;margin-left: 20px;font-size: 15px;" (click)="copyToClipboard()">Share static</button>
    <button mat-raised-button color="accent" style="height: 3ch;margin-left: 20px;font-size: 15px;" (click)="SaveStaticToUser()">Save static</button>
    </div>

    <mat-accordion>
    <mat-expansion-panel style="margin-bottom: 20px;">
      <mat-expansion-panel-header>
        <mat-panel-title>
          PGS Analysis
        </mat-panel-title>
      </mat-expansion-panel-header>
  
      <div style="background: rgba(0, 0, 0, 0.2);border-radius: 10px;padding: 10px;border: 5px solid rgba(0, 0, 0, 0.4)">
        <h3 style="color:white">Gear order priority (according to your settings) : </h3>
        <div style="display: flex; justify-content: space-between;">
          <div *ngFor="let group of groupList" [style.border]="GetGroupBorderColor(group.nGroup)" [style.backgroundColor]="GetGroupColor(group.nGroup)" style="width:240px;border-radius: 10px;padding: 5px;">
            <p *ngFor="let player of group.group" style="color: white;">{{player.name}}</p>
          </div>
        </div>
        <button mat-raised-button color="accent" style="height: 2.5ch;" (click)="openSettingPGS()">Settings</button>
      </div>
    </mat-expansion-panel>
  

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Lock Parameters
      </mat-panel-title>
    </mat-expansion-panel-header>

    <div style="padding: 10px;">
      <div style="height: 1ch;"><span *ngIf="LockParamChangeCheck">CHANGE DETECTED</span></div>
        <div style="display: flex;flex-direction: column;">
          <mat-slide-toggle class="param-toggle" [(ngModel)]="staticDetail.LockParam['BOOL_LOCK_PLAYERS']" (ngModelChange)="CheckChange()">Activate player lock : {{staticDetail.LockParam['BOOL_LOCK_PLAYERS']}}</mat-slide-toggle>
          <mat-slide-toggle class="param-toggle" [(ngModel)]="staticDetail.LockParam['BOOL_LOCK_IF_NOT_CONTESTED']" (ngModelChange)="CheckChange()">Lock a player out of gear even if it is not contested : {{staticDetail.LockParam['BOOL_LOCK_IF_NOT_CONTESTED']}}</mat-slide-toggle>
          <mat-slide-toggle class="param-toggle" [(ngModel)]="staticDetail.LockParam['BOOL_FOR_1_FIGHT']" (ngModelChange)="CheckChange()">Lock per fight : {{staticDetail.LockParam['BOOL_FOR_1_FIGHT']}}</mat-slide-toggle>
          <mat-slide-toggle class="param-toggle" [(ngModel)]="staticDetail.LockParam['LOCK_IF_TOME_AUGMENT']" (ngModelChange)="CheckChange()">Lock a player for augment item : {{staticDetail.LockParam['LOCK_IF_TOME_AUGMENT']}}</mat-slide-toggle>
          
          <div style="display: flex;flex-direction: column;margin: 0;">
            <span>Number of pieces a player can get per lock : {{staticDetail.LockParam['INT_NUMBER_OF_PIECES_UNTIL_LOCK']}}</span>
            <mat-form-field style="width:180px;">
              <mat-label># Piece until lock</mat-label>
              <input  matInput type="number" min="1" [(ngModel)]="staticDetail.LockParam['INT_NUMBER_OF_PIECES_UNTIL_LOCK']" value="{{staticDetail.LockParam['INT_NUMBER_OF_PIECES_UNTIL_LOCK']}}" (ngModelChange)="CheckChange()">
              </mat-form-field>
          </div>
          <div style="display: flex;flex-direction: column;margin: 0;">
            <span>Lock duration in week : {{staticDetail.LockParam['RESET_TIME_IN_WEEK']}}</span>
            <mat-form-field style="width:180px;">
              <mat-label># Week Reset</mat-label>
              <input matInput  min="1" type="number" [(ngModel)]="staticDetail.LockParam['RESET_TIME_IN_WEEK']" value="{{staticDetail.LockParam['RESET_TIME_IN_WEEK']}}" (ngModelChange)="CheckChange()">
              </mat-form-field>
          </div>
        </div>
        <button mat-raised-button color="primary" (click)="SaveLockParam()" [disabled]="!LockParamChangeCheck" [style.opacity]="LockParamChangeCheck ? '1' : '0.5'">Update Parameters</button>
    </div>
  </mat-expansion-panel>
</mat-accordion>

  </div>
  <!-- Container for player details -->
  <div style="width: 100%;">
    <h2 style="color:white;">Players:</h2> <!-- Title for the players section -->
    <mat-grid-list [cols]="3"rowHeight="1:2"> <!-- Grid list to display players dynamically based on screen size -->
      <mat-grid-tile *ngFor="let player of staticDetail.players" > <!-- Loop through each player in staticDetail.players -->
          <app-player-detail [player]="player" style=""/>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

</div>
