<!-- homepage.component.html -->
<div style="display: flex; justify-content: center; align-items: center;overflow: auto;">
<div style="max-width: 1350px;">

<div class="hero">
    <h1>Manage Your Raid Loot with Ease Using XIVLoot.com</h1>
    <p>Manage, Track, and Optimize your Loot Distribution.</p>
  </div>
  
  <div class="features" style="border-radius: 10px;border:3px solid rgba(0, 0, 0, 0.4);">
    <div class="feature_row">
        <div class="feature" style="width: 100%;">
            <h3>Create your Static</h3>
            <p>XIVLoot is easy to use with your raid team; Simply share the static's link with your other members. Once your static is saved it will
               be linked to your account and will be easily accessible via the drop down on the side.
            </p>
            <img src="assets/about/save.png" style="height: 142px;width: 750px;">
        </div>
    </div>
  <div class="feature_row">
    <div class="feature" style="width: 50%;">
        <h3>Loot Tracking</h3>
        <p>XIVLoot offers a gear acquisition history, allowing you and your group to keep track of who received what item('s) each week and 
          to see who needs what gear.
        </p>
        <div style="display: flex;flex-direction: column;">
        <img src="assets/about/gear_acq.png" >
        <img src="assets/about/item_breakdown.png" style="height: 220px;margin-top: 5px;">
        </div>
    </div>
    <div class="feature" style="width: 50%;">
        <h3>Progression tracking</h3>
        <p>XIVLoot shows at a glance a quick and manageable way to track each member of your statics progression from Pre-BIS to BIS. 
            We allow the importing of gearsets from both Etro and XIVGear to enable you with a seamless experience of documenting what items you currently are using and your end of tier goals.
            View your gearsets, tome, twine and shine requirements and some auxilary gear set information here.
        </p>
        <img src="assets/about/edit.png">
      </div>

  </div>
  <div class="feature_row">
      <div class="feature" style="width: 50%;">
          <h3>Gear locking</h3>
          <p>XIVLoot understands that your statics distribution rules may include lock out rules for members.
             Manage your rules via this system and easily see who can and cannot receive loot each week.
          </p>
          <img src="assets/about/lock.png" style="width: 262px;">
      </div>
      <div class="feature" style="width: 50%;">
        <h3>Loot Distribution Score</h3>
        <p>XIVLoot offers a metric called Player Gear Score (PGS) to help recommend gear distribution. As a Static you can customize the 
          parameters of how this score will be computed to fit your teams playstyle and goals in gear progression
        </p>
        <img src="assets/about/pgs.png">
      </div>
  </div>

  </div>
  <div class="hero" style="background-color: rgba(0, 0, 0, 0.5);border-radius: 10px;border:3px solid white;margin-top: 50px;">
      <p>To get started simply click on the "Create" option to the left, input a name and click "Create static".</p>
  </div>
  <div style="height: 500px;"></div>
  
  
  
  
</div>
</div>