/* src/app/home/home.component.css */
.homepage-container {
  font-family: 'Arial', sans-serif;
  color: #ccc; /* Lighter text color for better visibility on dark backgrounds */
  line-height: 1.6;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #494646; /* Dark background color */
}

.header h1 {
  font-size: 2.4rem;
  color: #66ccff; /* Light blue color for better visibility */
}

.header p {
  font-size: 1.2rem;
  color: #ddd; /* Light grey color for text */
  margin-top: 5px;
}

.features {
  background-color: #494646; /* Darker background for feature boxes */
  padding: 20px;
  border-radius: 8px;
  margin-top: 20px;
  color: #eee; /* Light text color for readability */
}

.features h2 {
  color: #fff; /* White color for headings */
}

.features ul {
  list-style-type: none;
  padding: 0;
}

.features li {
  background: #494646; /* Dark grey background for list items */
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  color: #f0f0f0; /* Very light grey text for contrast */
}

.footer {
  text-align: center;
  margin-top: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #212121; /* Very dark grey background */
  color: white;
}

.footer p {
  margin: 0;
}