
.nav-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}

.nav-button-row {
  display: table-cell;
  max-width: 600px;
}

.nav-button-row {
  margin: 8px 8px 8px 0;
}

.rounded-button {
  border-radius: 10px; /* Adjust the radius to your preference */
}
.header h1 {
  font-size: 2.8rem;
  color: #02457A;
}

.header p {
  font-size: 1.4rem;
  color: #555;
  margin-top: 5px;
}

.mat-toolbar {
 position: relative;
 z-index: 5;
}

.mat-sidenav-container {
  height: calc(100vh - 64px);

}
.mat-toolbar {
  display: flex;
  align-items: center;
  height: 64px; /* Adjust based on your design */
}

.logo-link {
  display: flex;
  align-items: center;
  height: 100%;
}

.toolbar-logo {
  height: 80%; /* Adjust based on your design */
  width: auto; /* Maintain aspect ratio */
}

.toolbar-spacer {
  flex: 1;
}

