

<div *ngIf="!hasTomePlan" class="noTomePlan">
    <h2 style="text-align: center;margin: 0;">No tome plan found.</h2>
    <button (click)="CreateTomePlan()" style="width: 20%;height: 50px;background-color: rgba(255, 255, 255, 0.7);border-radius: 10px;cursor: pointer;">
        Create Tome Plan for this player
    </button>
</div>

<div *ngIf="hasTomePlan" style="display: flex; flex-direction: column;background-color: rgba(0, 0, 0, 0.2);border-radius: 10px;border:3px solid rgba(0, 0, 0, 0.4);padding: 5px;">

<h2 style="text-align: center;margin: 5px;">{{player.name}}'s Tome Plan</h2>

<div  style="display: flex; flex-direction: row;height: 50px;width: 90%;margin-left: 5%;justify-content: space-between;margin-bottom: 1%;">


    <div class="infoShower" matTooltip="{{TotalTomestonesToolTip}}">
        <div style="width: 60%;border-right: 2px solid black;">
            <p style="text-align: center;margin: 0;">Total Tomes Needed</p>
        </div>
        <div style="width: 40%;">
            <p style="text-align: center;margin: 0;">{{info.totalCost}}</p>
        </div>
    </div>

    <div class="infoShower" matTooltip="{{StartingTomeToolTip}}">
        <div style="width: 60%;border-right: 2px solid black;">
            <p style="text-align: center;margin: 0;">Starting Tome Amount</p>
        </div>
        <div style="width: 40%;justify-content: center;display: flex;">
            <!-- <p style="text-align: center;margin: 0;">{{info.numberStartTomes}}</p> -->
            <input type="number" style="width: 50px;" [(ngModel)]="info.numberStartTomes" (change)="UpdateNeededTomes()">
        </div>
    </div>
    <!--
    <div class="infoShower">
        <div style="width: 60%;border-right: 2px solid black;">
            <p style="text-align: center;margin: 0;">Offset Tome Amount</p>
        </div>
        <div style="width: 40%;justify-content: center;display: flex;">
            <input type="number" style="width: 50px;" [(ngModel)]="info.numberOffsetTomes" (change)="UpdateOffsetTomes()">
        </div>
    </div>
    

    <div class="infoShower">
        <div style="width: 60%;border-right: 2px solid black;">
            <p style="text-align: center;margin: 0;">Remaining Tomes</p>
        </div>
        <div style="width: 40%;">
            <p style="text-align: center;margin: 0;">1995</p>
        </div>
    </div>
    -->

    <div class="infoShower">
        <div style="width: 60%;border-right: 2px solid black;">
            <p style="text-align: center;margin: 0;margin-right: 5px;">Number of weeks</p>
        </div>
        <div style="width: 40%;">
            <p style="text-align: center;margin: 0;">{{numberWeeksDone + "/" + info.gearPlanOrder.length}}</p>
        </div>
    </div>



</div>

<div style="border-bottom: 3px solid black;width: 95%;margin-left: 2.5%;">
</div>

<div class="planShower">
        <span (click)="AddWeekToTomePlan(0)" class="material-icons" style="color: rgba(0, 150, 0, 1);width: 3%;margin-left: 48.5%;font-size: 30px;cursor: pointer;" matTooltip="{{AddWeekStartToolTip}}">
            add_box
            </span>
    <div *ngFor="let week of info.gearPlanOrder, let j = index" style="align-items: center;">

        <div class="weekShower">
            <h3 style="text-align: center;margin: 0;margin-right: 5px;margin-left: 5px;">{{j+1}}</h3>
            <span class="material-icons" (click)="SetWeekDone(j, !info.weekDone[j])" style="cursor: pointer;color: {{info.weekDone[j] ? 'green' : 'red'}}" matTooltip="{{info.weekDone[j] ? CheckWeekDoneToolTip : CheckWeekNotDoneToolTip}}">
                {{info.weekDone[j] ? 'check_box' : 'check_box_outline_blank'}}
                </span>
                <div style="height: 40px;border-right: 3px solid black;margin:0;margin-left: 5px;"></div>

            <div class="itemShower">
                <div *ngFor="let item of week.gearName, let i = index" style="width: 85px;display: flex;flex-direction: row;justify-content: space-between;margin-right: 3px;margin-left: 3px;background-color: rgba(255, 255, 255, 0.1);padding: 2px;">
                    <p style="margin:0;">{{item}}</p>
                    <mat-icon style="color:red" (click)="RemoveFromTomePlan(j, item)">remove_circle</mat-icon>
                </div>
                <div>
                    <mat-icon style="padding: 2px;" (click)="AddGearToPlan(week.optionList,j)" [style.color]="week.optionList.length > 0 ? 'rgb(255,255,255)' : 'rgba(255,255,255,0.5)'">add_circle</mat-icon>
                </div>
            </div>
            
            <div style="width: 45%;margin-left: 2.5%;display: flex;flex-direction: row;">
                <div class="weekInfoShower">
                    <p style="margin: 0;text-align: center;">Cost of week : {{week.costOfWeek}}</p>
                </div>
                <div  class="weekInfoShower">
                    <p style="margin: 0;text-align: center;">EOW Tomes : {{week.tomeAmountByEOW}}</p>
                </div>
                <div class="weekInfoShower">
                    <p style="margin: 0;text-align: center;">Surplus : {{week.surplusTome}}</p>
                </div>
                <div style="height: 40px;border-right: 3px solid black;margin:0;margin-right: 10px;"></div>
                <div style="display: flex;align-items: center;">
                    <mat-icon (click)="RemoveWeekFromTomePlan(j)" style="color: red;" matTooltip="{{DeleteWeekToolTip}}">delete_forever</mat-icon>
                </div>
            </div>
        </div>

    </div>
        <span (click)="AddWeekToTomePlan(-1)" class="material-icons" style="color: rgba(0, 150, 0, 1);width: 3%;margin-left: 48.5%;font-size: 30px;cursor: pointer;" matTooltip="{{AddWeekToolTip}}">
            add_box
        </span>
</div>


</div>
