mat-icon{
    cursor: pointer;
}
.infoShower{
    display: flex; 
    flex-direction: row;
    border: 2px solid black;
    align-items: center;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 5px;
}
.planShower{
    width: 95%;
    margin-left: 2.5%;
    background-color: rgba(0, 0, 0, 0.2);
    margin: 1%;
    border: 2px solid black;
    padding: 10px;
    border-radius: 5px;
}
.weekShower{
    width: 98%;
    margin-left: 1%;
    margin-bottom: 0.5%;
    margin-top:0.5%;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}
.itemShower{
    width: 45%;
    margin-left: 2.5%;
    display: flex;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 3px;
    margin:5px;
    padding: 5px;
    overflow-x: auto;
}
.weekInfoShower{
    width: 30%;
    border: 2px solid black;
    align-items: center;
    padding: 5px;
    margin-right: 5%;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.3);
}
.noTomePlan{
    margin: 10px;
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}